body {
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neua", Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    height: 250%;
    position: relative;
}
